body{
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* banner */
.headline{
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    margin: 50px 40px 50px;
    text-align: left;
}

.headline-2{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 10px 10px;
    text-align: left;
}
.headline-2 .badge{
    margin-left: 5px;
}

.header{
    background-color: yellowgreen;
}

/* end banner */
/* content */
.panel-nama{
    background-color: #ffc107;
    text-align: center;
    margin: 90px 100px -40px -10px ;
    padding-top: 8px;
    border-radius: 10px;
    color:black;
    z-index: 1;
    text-transform: uppercase;
}

.start{
    background-color: rgba(0, 0, 0, 0.1);
    margin:70px 15px 0px 15px;
    border-radius: 5px;
    padding-top: 20px;
}

.input{
    background-color: rgba(0, 0, 0, 0.1);
    margin:30px 25px 0px 25px;
    border-radius: 5px;
    padding-top: 20px;
}

.button{
    margin-bottom: -20px;
    z-index: 1;
}

.daftar-atlet{
    background-color: azure;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 5px 5px 3px #a5a5a5b4;
}
.daftar-atlet .top{
    margin-top: 100px;
}

.daftar-atlet .card-text{
    font-size: 10px;
    margin-bottom: 5px;
}

.daftar-atlet .col-2{
    margin-bottom: 0px;
}
.daftar-atlet img{
    margin-top: 10px;
    margin-left: 20px;
}

.daftar-atlet a{
    color: inherit; 
}

.daftar-atlet .photo{
    margin: 5px;
    padding-left: 10px;
}

.daftar-atlet h5{
    margin-bottom: 5px;
}

.daftar-atlet .card-body{
    padding: 5px;
    margin-left: 10px;
}

.panel{
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 5px 5px 3px #a5a5a5b4;
    text-align: center;
}

/* end content */
/* footer */
.footer{
    background-color: rgb(61, 190, 117);
    padding: 10px;
}
.footer .item{
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
}
.footer .active{
    color: yellow;
}